[Desktop Entry] 
Comment[tr]= Masaüstü-Yazılar
Comment= Masaüstü-Yazılar
Exec=conky_wp 
GenericName[tr]= Masaüstü-Yazılar
GenericName= Masaüstü-Yazılar
Icon=system-run 
MimeType= 
Name[tr]= afad-conky
Name= afad-conky
Path= 
Hidden=true
StartupNotify=true 
Terminal=false 
TerminalOptions= 
Type=Application 
X-DBUS-ServiceName= 
X-DBUS-StartupType= 
X-KDE-SubstituteUID=false 
X-KDE-Username= 
